extends ../_layouts/layout.jade

block title
    title ЦЕНТР ПРАВОВОЙ ПОМОЩИ

block content
    .container
        .row
            .header
                .header-contacts
                    .header__address
                        .header__address-place Санкт-Петербург
                    .clock
                        .clock-time Режим работы: с 10.00 до 20.00
                .logo
                    a(href="#").logo-link
                        img(src="/img/logo.png")
                        h1.text-hidden
                .header-nav
                    .header-phone
                        a(href="tel:+78123166433").header-number +7 (812) <span>316 64 33</span>
                    .nav
                        ul.nav__list
                            each item in ['Главная','Услуги и цены', 'О нас', 'Контакты']
                                li.nav__list-item
                                    a(href="#").nav__list-link.hvr-sweep-to-bottom=item
            .company
                h1.company-name Центр правовой помощи
    .container
        .slider
            ul.slider__list
                li.slider__list-item
                    img(src="/img/slider/slide1.png").slider__list-img
                    .slider__list-label
                        .slider__list-wrapper
                            h2.slder__list-slogan Наша цель - решить вашу проблему
                            p.slider__list-text Мы не даем пустых обещаний. Не обнадеживаем вас, не имея для этого оснований. Мы беремся за ведение дела, только выявив реальную возможность решения вопроса в вашу пользу
                    img(src="/img/slider/woman-slide1.png").slider__list-img.slider__list-img_anim
                li.slider__list-item
                    img(src="/img/slider/slide2.png").slider__list-img
                    .slider__list-label
                        .slider__list-wrapper
                            h2.slder__list-slogan споры с работодателем
                            p.slider__list-text Одна из наших ключевых компетенций. Будьте уверены в результате!
                            .slider__list__offer
                                p.slider__list__offer-text Стоимость <s>15 000 руб.</s> <span>10 000 руб.</span>
                                p.slider__list__offer-text.slider__list__offer-text_bold Только до конца февраля
                    img(src="/img/slider/man-slide2.png").slider__list-img.slider__list-img_anim
                li.slider__list-item
                    img(src="/img/slider/slide3.png").slider__list-img
                    .slider__list-label
                        .slider__list-wrapper
                            h2.slder__list-slogan Регистрация фирм
                            p.slider__list-text Различных организационно-правовых форм,индивидуальных предпринимателей, некоммерческих организаций.
                            .slider__list__offer
                                p.slider__list__offer-text Регистрация фирм <s>5 000 руб.</s> <span>4 250 руб.</span>
                                p.slider__list__offer-text Регистрация ИП <s>2 500 руб.</s> <span>1 900 руб.</span>
                                p.slider__list__offer-text.slider__list__offer-text_bold Только до конца февраля
                    img(src="/img/slider/woman-slide3.png").slider__list-img.slider__list-img_anim


    .advantages
        .container
            .row
                ul.advantages__list
                    li.advantages__list-item
                        a(href="#").advantages__list-link
                            .advantages__list-pic.advantages__list-pic_prac
                            p.advantages__list-text 15 лет<br> юридической практики
                    li.advantages__list-item
                        a(href="#").advantages__list-link
                            .advantages__list-pic.advantages__list-pic_deal
                            p.advantages__list-text До 95%<br> выигранных дел
                    li.advantages__list-item
                        a(href="#").advantages__list-link
                            .advantages__list-pic.advantages__list-pic_consult
                            p.advantages__list-text Стоимость консультации<br> от 500 рублей
                    li.advantages__list-item
                        a(href="#").advantages__list-link
                            .advantages__list-pic.advantages__list-pic_result
                            p.advantages__list-text Работа только<br> на результат

    .services
        .container
            .row
                h1.services-name Юридические услуги
        .container
            .row
                .services-names
                    .services-individuals
                    .services-entities
                .services__left
                    ul.services__left__list
                        li.services__left__list-item
                            a(href="#").services__left__list-item Решение споров
                        li.services__left__list-item
                            a(href="#").services__left__list-item Защита в суде
                        li.services__left__list-item
                            a(href="#").services__left__list-item Сопровождение сделок с недвижимостью
                        li.services__left__list-item
                            a(href="#").services__left__list-item Составление, подача жалоб
                .services__right
                    ul.services__right__list
                        li.services__right__list-item
                            a(href="#").services__right__list-item Регистрация, реорганизация, ликвидация ООО, АО
                        li.services__right__list-item
                            a(href="#").services__right__list-item Абонентское юридическое обслуживание
                        li.services__right__list-item
                            a(href="#").services__right__list-item Досудебное урегулирование споров
                        li.services__right__list-item
                            a(href="#").services__right__list-item Защита и представление интересов в суде
                .services__list
                    a(href="#").services__list-link Посмотреть полный список услуг и цен
    .container
        .row
            .call__slogan
                h1.call__slogan-name Мы обязательно решим Вашу проблему
            .call__offer
                p.call__offer-name позвоните по номеру
            .call__nubmer
                a(href="tel:+78123166433") +7 (812) 316 64 33
    .container
        .row
            .footer__up Вверх
            .footer__copyright
                p.footer__copyright-text &copy; 2015  Все права защищены. Центр правовой помощи “Знак качества”


