// =======================
// Tools/Variables
// =======================

/* Font variables */

$main-font: 'open_sansregular', Arial, sans-serif;

/* Color variables */

$color-link: #000;
$color-link-hover: lighten($color-link, 40%);