// =======================
// Layout/Advantages
// =======================

.advantages {
  position: relative;
  &:before {
    position: absolute;
    width: 100%;
    height: 172px;
    content: '';
    top: 0;
    background: $color-main;
    z-index: -1;
  }
}

.advantages__list {
  padding-top: 48px;
  &-item {
    display: inline-block;
    width: 220px;
    text-align: center;
    margin-right: 20px;
  }
  &-link {
    display: block;
    &:hover {
      .advantages__list-text {
        color: $color-main;
      }
      .advantages__list-pic {
        background-color: $color-main;
      }
    }
  }
  &-pic {
    @extend .icon;
    width: 193px;
    height: 193px;
    padding: 12px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  &-text {
    margin: 0;
    padding: 1em 0;
    position: relative;
    font-family: 'open_sanssemibold';
    font-size: 17px;
    border-bottom: 1px solid $color-main;
    border-top: 1px solid $color-main;
  }
}

.advantages__list-pic {
  &_prac {
    @extend %prac;
  }
  &_deal {
    @extend %deal;
  }
  &_consult {
    @extend %consult;
  }
  &_result {
    @extend %result;
  }
}