// =======================
// Base/Base
// =======================

body {
    font-family: $main-font;
    font-weight: 300;
    font-size: 1em;
    line-height: 1;
}

a {
    color: $color-link;
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

.text-hidden {
    position: absolute;
    text-indent: -999999px;
}

.container {
    width: 100%;
}

.row {
    width: 980px;
    margin: 0 auto;
}

.slider {
    background: $color-main;
}

.row {
    @extend .clearfix;
}